* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /*yatayda ortaladı*/
  height: 100vh;
  justify-content: center; /*dikeyde ortaladı*/
  background: url("https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(231, 237, 247);
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 120px;
  height: 110px;
  background-color: rgb(146, 168, 209);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(93, 93, 139);
}
.clock #ampm {
  margin-top: 110px;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(91, 163, 139);
}
